body {

}
.grid-container {
  margin: 100px auto 0px auto;
  display: grid;
  grid-template-rows: repeat(12, 40px);
  grid-template-areas: 
  "result result result result"
  "current current current current"
  "reset-all reset-all reset-current reset-current"
  "square root multiply divide"
  "no7 no8 no9 minus"
  "no4 no5 no6 plus"
  "no1 no2 no3 equals"
  "sign no0 dot equals";
  width: 300px;
}
.result {
  grid-area: result;
  text-align: right;
}
.current {
  grid-area: current;
  text-align: right;
  font-size: 30px;
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.multiply {
  grid-area: multiply;
}
.divide {
  grid-area: divide;
}
.square {
  grid-area: square;
}
.root {
  grid-area: root;
}
.equals {
  grid-area: equals;
}
.reset-current {
  grid-area: reset-current;
}
.reset-all {
  grid-area: reset-all;
}
.no0 {
  grid-area: no0;
}
.no1 {
  grid-area: no1;
}
.no2 {
  grid-area: no2;
}
.no3 {
  grid-area: no3;
}
.no4 {
  grid-area: no4;
}
.no5 {
  grid-area: no5;
}
.no6 {
  grid-area: no6;
}
.no7 {
  grid-area: no7;
}
.no8 {
  grid-area: no8;
}
.no9 {
  grid-area: no9;
}
.sign {
  grid-area: sign;
}
.dot {
  grid-area: dot;
}